@charset "iso-8859-1";
.paginacionDatosMes { background:#fff; margin:-40px 350px 30px 0; text-align:right; padding:2px 5px 5px 5px; width:auto;}
.paginacionDatosMes a, .paginacionDatosMes label {background:#f1f1f1; padding:2px 5px; text-decoration:none; color:#000; margin:5px 2px 0 2px; display:inline-block;}
.paginacionDatosMes span {background:#ff6600; padding:2px 5px;color:#fff; margin:5px 2px 0 2px; display:inline-block; float:left;}
.paginacionDatosMes a:hover {background:#f60; color:#fff;}
a.VerTabla {padding:2px 5px; display:inline-block; margin-top:5px; margin-left:10px; float:right;}

#TablaGeneralDatos { display:block; clear:both;margin-top:40px;}
.TablaGeneralDatos {width:100%; display:none; margin-top:40px;}
.FilaMeses td {background:#0080c6; color:#fff; font-size:13px; font-weight:bold; text-align:center;}
#TablaGeneralDatos tr td {border-bottom:solid 3px #0080c6; padding:10px 0;}
#TablaGeneralDatos tr td span {border-bottom:solid 1px #ccc; display:inline-block; width:96%; height:20px; overflow:hidden; padding:0 2%;}
td.CampanaNombre {font-weight:bold; background:#f1f1f1; text-align:center;}

#BotonesOpciones {padding:0; width:100%; float:left;}
#GraficosDatosGeneral {width:100%; float:right;}
#BotonesOpciones a { border:none; background:#f1f1f1; cursor:pointer; padding:6px 7px; margin:0 2px 5px 0; font-size:11px; display:block; position:relative; float: left; margin-bottom: 2px;}
#BotonesOpciones a:hover, #BotonesOpciones a.activo { background:#6CB5F4; color:#fff;}
#BotonesOpciones a span.mostrarOpciones { position:absolute; top:0; right:-45px; background:#f1f1f1; display:none; width:35px; z-index:5; padding:3px 5px;}
#BotonesOpciones a span.masOpciones { position:absolute; top:0; left:45px; background:#bdbdbd; display:none; width:137px; z-index:5; padding:3px 5px;}
#BotonesOpciones a:hover span.mostrarOpciones, 
#BotonesOpciones a:hover span.mostrarOpciones:hover span.masOpciones {display:block;}
#BotonesOpciones a span img {float:left; margin:0 0px}
#BotonesOpciones a span img:hover {filter: alpha(opacity=50); opacity: 0.5;}

#BotonesOpciones a:hover span.masOpcionesNEW {position:absolute; top:28px; right:0px; background:#f1f1f1; display:none; width:35px; z-index:5; padding:2px 5px; display:block; margin-left: 20px;}
#BotonesOpciones a span.masOpcionesNEW {position:absolute; top:28px; right:0px; background:#f1f1f1; display:none; width:35px; z-index:5; padding:2px 5px; margin-left: 20px;height: 28px;}
#BotonesOpciones a span div.infoMas {width:190px; position:absolute; top:40px; left:10px; z-index:6; background:#fff; padding:10px; border:solid 1px #ccc; color:#555; display:none;}
#BotonesOpciones a span img.imgInfo:hover ~ div.infoMas { display:block;}

#CapaOcultoTodo {width:100%; height:100%; background:url(/dmcrm/app/comun2/imagenes/cuadro-trans.png); position:fixed; top:0; left:0; z-index:5; display:none;}
#FormBusqueda {width:600px; position:absolute; top:25%;  left:30%; z-index:60; background:#fff; padding:15px 15px 0 15px; border:solid 1px #ccc; -webkit-box-shadow: 0 0 20px 5px #cdcdcd; box-shadow: 0 0 20px 5px #cdcdcd;}
#FormBusqueda ul {display:block; clear:both; list-style:none; margin:0; padding:0; width:100%;}
#FormBusqueda ul:after {display:block; clear:both; content:"";}
#FormBusqueda ul li {float:left; width:33%; margin-bottom:5px; max-height:37px; overflow:hidden;}
#FormBusqueda ul li:hover {background:#f1f1f1;}
#FormBusqueda ul li input {float:left;}
#FormBusqueda label {width:auto; display:inline-block; text-align:right;}
.FormBusqueda_int .NuevaBusqueda { position:absolute; top:0; right:0; text-decoration:none; background:#fff; font-size:16px; padding:5px 10px 0 0;color:#999;}
.FormBusqueda_int .NuevaBusqueda:hover { color:#f60;}
#FormBusqueda b {border-bottom:solid 1px #cdcdcd; display:block; margin:10px 0}

#CapaCargando {width:100%; text-align:center; padding:70px 0; display:none;}
.CapaSelectorInput2 { text-align:center; font-size:11px; color:#555; background:none!important; padding:25px 0 0 0!important}
.CapaSelectorInput2 span:hover { color:#f60; cursor:pointer;}

#CambioAnioCaja {background:#f1f1f1; border-bottom:dotted 2px #cdcdcd; margin:0 0 10px 0;}
#CambioAnioCaja label {font-weight:bold; padding:0 0 0 10px;}
#CambioAnioCaja a.ActualizoMesAnio {float:right; display:inline-block; background:#cdcdcd; color:#555; text-decoration:none; padding:2px 5px; text-decoration:none;}
#BotoNuevaBusqueda {margin:0 0 0 39%;}
.CapaSelectorInput2 {padding-top:10px!important;}

/*tablas datos graficos*/
.graficoTablas {width:100%; }
.graficoTablas strong.TitTabla {font-size:14px; display:block; padding:0 0 15px 0; color:#555; left: 0 !important}
.graficoTablas table {width:100%; font-size:11px;}
.graficoTablas table tr td { border-top:solid 1px #ebebeb; padding:8px; font-size:12px; color:#000;}
.graficoTablas table tr td.esMes,
.graficoTablas table tr td.mediaCampana,
.graficoTablas table tr td.totalCampana {border:none; font-weight:;}
.graficoTablas table tr td.NomCampana {width:100px;}
.graficoTablas table tr td.mediaCampana,
.graficoTablas table tr td.totalCampana {text-align:center;}
.graficoTablas table tr td.MesInpar {/*background:#f4f4f4;*/ border-left:solid 1px #ebebeb; border-right:solid 1px #ebebeb;}
.graficoTablas table tr.mediaPorMeses td {border-top:solid 2px #999; background:#f1f1f1;}
.graficoTablas table tr.totalPorMeses td {border-top:solid 2px #f60; background:#f1f1f1;}
.graficoTablas table tr td.mediaCampana {border-left:solid 3px #999; background:#f1f1f1;}
.graficoTablas table tr td.mediaCampanaTD {border-left:solid 3px #999; background:#f1f1f1;}
.graficoTablas table tr td.totalCampana {border-left:solid 2px #f60; background:#f1f1f1;}
.graficoTablas table tr td.totalCampanaTD {border-left:solid 2px #f60; background:#f1f1f1;}
.graficoTablas table tr td.NoBorder { border:none; background:#fff;}
.graficoTablas table tr td.AbsolutoTD { background:#cccccc;} 
.graficoTablas table tr:first-child td {background:#6cb5f4; color:#fff; text-align:right; padding-top:12px; padding-bottom:12px;}
.graficoTablas table tr:first-child td:first-child {border-left:solid #6cb5f4 10px;}
.graficoTablas table tr:first-child td:nth-child(15), .graficoTablas table tr:first-child td:nth-child(16) {background:#cdcdcd; color:#000;}

.graficoTablas table tr.selectorclick td.NomCampana:before {float:left; dispaly:block; content:"+"; margin:-2px 0 0 -17px; color:#fff; font-weight:bold; font-size:14px; padding:0;}





#table_div,
.OcultoTabla { display:none;}
.MuestroTabla { display:block;}

/*div nombre campana*/
.graficoTabla tr td {font-size:11px;}
.graficoTabla tr td.NomCampana div {position:relative;}
.graficoTabla tr td.NomCampana div span {display:none;}
.graficoTabla tr td.NomCampana:hover div span {display:block; position:absolute; top:0; left:100px; background:#f1f1f1; width:200px; padding:5px; border:solid 1px #bbbbb9; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

#CambioAnioMesCaja {text-align:center;}
#CambioAnioMesCaja a {text-decoration:none;}
#CambioAnioMesCaja label {font-weight:bold;}
#CambioAnioMesCaja select {margin:0 10px;}

.graficoTabla tr:hover td {background:#ffd1b2;}
.graficoTablas strong.TitTabla {position:relative; top:-390px; padding:0; border-bottom:solid 1px #cdcdcd; left: -70px;}
.graficoTablas table {margin-top:-10px;}

.agrupacion{ display: none;}
.selectorclick{ cursor: pointer;}



.cajamenucomp{ float: left; display: block; padding: 10px;margin: 5px; padding-left: 0px;margin-left: 0px;}
#BotonesOpciones{margin-bottom: 20px;}
.cajamenucomp h2{ margin-top: 0px;color: gray; font-size: 14px;}
.avisos_campanas{ margin-top: 7px}
.avisos{color: #D80000;font-size: 14px;font-style: italic;}