@charset "iso-8859-1";

.DTTT_container { margin-top: -1px;	}
.izquierda{ text-align: left; display: block;}
.btn_vercampana{ cursor: pointer;}
.agrupacion{ background-color: #F0F0F0;}
.total{ background-color: rgba(149, 196, 243, 0.15);
	    font-weight: bold;
	    border-bottom: 1px solid rgb(203, 203, 203) !important;
	}
.subtotal{background-color: #EAEAEA;
	    font-weight: bold;
	    font-style: italic;
	    border-bottom: 1px solid rgb(203, 203, 203) !important}
.subtotal_tit{ display: block; color: gray !important}
.filaSeo{ background-color: rgba(254, 107, 91, 0.42);}
.filaEnlaces{ background-color: rgba(1, 213, 251, 0.28);}
.filaSocial{ background-color: rgba(251, 198, 60, 0.45);}
.filaTotal{ background-color: rgba(0, 0, 0, 0.13);}
.datos_cab{ display: block; position: relative; font-size: 30px;}
.info_cab{ display: block; position: relative; font-size: 18px;}
.comparador{width: auto; position: absolute; font-size: 13px; right: 0px; top: 0px;}



input[type="radio"]{display: none;} 
.grupo-perspectivas{ display: block; width: 100%; overflow: auto; clear: both; margin-bottom: 15px; }
.caja-perspectiva{ float: left; width: auto;padding: 8px; }
.totclass{ width: 150px !important;}
.totclass img{ float: left;}
#anadirperspectiva{ cursor: pointer;}
#anadirperspectiva:hover{ text-decoration: underline;}
.izquierda{text-align: left !important;}
tfoot tr th span img{ float: left;}


h2, .h2 {
    margin-top: 0px !important;
}
h3, .h3 {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    font-size: 16px !important;
}
h3.bumb {
    font-size: 16px !important;
}

.tile-stats .num {
    font-size: 20px !important;
    font-weight: bold;
}

.tile-stats .bumb {
    font-size: 14px !important;
}


	.grupo-perspectivas .btn-default{ background-color: white !important; }
	.grupo-perspectivas .btn-default.active{background-color: none !important; box-shadow: none !important; border-color: rgba(208, 208, 211, 0.43) !important}
	.grupo-perspectivas .btn-default.active_seg{background-color: #9EE4B8 !important;}
	.grupo-perspectivas .btn-default.active_pri{background-color: #96D0FB !important;}
	.grupo-perspectivas .btn-default.active_select{background-color: rgb(150, 208, 251) !important;border: 2px dotted #6F6F6F !important;}

	.izquierda {text-align: left !important;
				position: absolute;
				width: 100%;
				top: -2px;
				padding: 7px;
				border-left: 7px solid #9EE4B8;
				left: -1px;
				height: 35px;}

	.izquierda_pri {text-align: left !important;
				position: absolute;
				width: 100%;
				top: -2px;
				padding: 7px;
				border-left: 7px solid #96D0FB;
				left: -1px;
				height: 35px;}

	.page-body .datatable.table tbody td{ position: relative !important;}


	#cab_perspectiva_camb{ background-color: #96D0FB !important;}
	#cab_perspectiva_seg_camb{background-color: #9EE4B8 !important;}
/*#table_datatable_pedidos tbody tr td:nth-child(2){ text-align: left;}*/