@charset "iso-8859-1";

/*Estilos añadidos*/

.compararFecha {
	padding-left: 15px; 
}

.compararFecha .control-label {
	padding-left: 0!important;
	margin-bottom: 1em!important;
	font-weight: bold;
}

.compararFecha .icheck-list label {
	width: 80%; 
	margin-left: 26px;
	font-weight: normal;
}

.compararFecha .icheck-list li {
	position: relative; 
	margin-bottom: 5px;
}

.compararFecha .icheck-list li .iradio_minimal {
	position: absolute;
	top: 0; 
}

.copyACC {
	position: absolute;
	bottom: 20px;
	left: 20px; 
	margin-top: 20px; 
}

#main-menu > li:first-child {
	border-top: 1px solid;
}

.form-contexto {
	margin-bottom: 0px;
	padding: 20px;
	padding-top: 0px;
}

.label-contexto { 
	color: black; 
	text-align: left !important;
}
.tablet{
	display: none;
}

#contenedor_paises {
	margin-bottom: 1em; 
}
#contenedor_idiomas {
	margin-bottom: 1em; 
}
#contenedor_filtro {
	margin-bottom: 3em; 
}
.sidebar-menu{
	position: relative;
}

@media (min-width: 765px) and (max-width: 1200px) {

	.page-container .sidebar-menu{ width: 30px; z-index: 9} /*280px;*/
	.page-container.horizontal-menu.with-sidebar{ padding-left:50px !important;}
	.contenedor_slide{ display: none;}
	.tablet{ display: block;}
	#menu_tablet{ cursor: pointer; float: right; padding: 8px;z-index: 10;position: absolute;right: 0;font-size: 29px;
			padding-top: 0px;
			padding-right: 6px;
			padding-left: 30px; 
			color: #777389;
			top: 0;
	}
	#menu_tablet:hover{color: black;}	
	.page-container .main-content{
		padding-left: 0px !important;
	}	
}


.desmenulat{margin-top: 2px;display: block;margin-left: 40px;}
.imgmenulateral{display: block;float: left; width: 29px; height: 21px; color: white; padding: 2px; padding-left: 6px;}
.sel_lat{ color: #6cb5f4 !important;}
.page-container .sidebar-menu #main-menu { margin-bottom: 60px;}
.page-container .sidebar-menu #main-menu li {background-image: url("../images/detalle_menu.png"); background-repeat: repeat-y; background-position: 18px;}

.page-container .sidebar-menu #main-menu li.prim{ background-image: url("../images/detalle_menu_prim.png"); background-repeat: no-repeat; background-position: 18px 22px; }
.page-container .sidebar-menu #main-menu li.ult{ background-image: url("../images/detalle_menu_prim.png"); background-repeat: no-repeat; background-position: 18px 0px; }

.page-container .sidebar-menu #main-menu li a:hover{ text-decoration: underline; }

#contenedor_idiomas{ display: none;}
#contenedor_filtro{ display: none;}
#caja_br_idioma{ display: none;}
#caja_br_filtro{ display: none;}