@charset "iso-8859-1";

/*Estilos añadidos*/

.poscamb{margin-bottom: 0px !important; margin-top: 10px !important;}
#cerrar-sesion{ cursor: pointer;}
#listado-vistas{ }
#listado-vistas .lista{ float: right;}
#menu{ list-style: none; overflow: auto; margin-top: 4px;margin-bottom: 0px;}
#menu li{}
#menu li a span{ padding-top: 4px;line-height: 4px;}
#menu li a{ display: block; padding: 14px 20px; float: left; font-weight: bold;}
#menu li a.activo{ color: #3fabe2; border-bottom: 2px solid #3fabe2}
#menu li a:hover{ color: #3fabe2; border-bottom: 2px solid #3fabe2}

/*Estilos añadidos*/

.dataTables_wrapper {
	position: relative; 
}

.dataTables_processing{ 
	color: black; 
	width: 100%; 
	text-align: center; 
	position: absolute; 
	background-color: rgba(255,255,255,0.7); 
	height: 100%; 
	padding-top: 0%; 
	z-index: 4; 
}

 .dataTables_processing:before {
	content:'';
	width: 100%;
	height: 45%;
	display: block; 
}

 .dataTables_processing:after {
	content:url('../assets/images/loader-3.gif');
	width: 16px;
	height: 16px;
	display: block; 
	margin: -45px auto 0 auto; 
}

.dataTables_wrapper .dataTables_length { float: left;width: 15%;min-width: 136px; border: none; }
.dataTables_wrapper .dataTables_info.dataTables_info, .dataTables_wrapper .dataTables_paginate.dataTables_info {
	float: left; width: 15%; background-color: transparent; border: none; min-width: 190px;}
.DTTT_container{ float: right !important; padding-top: 10px; margin-top: -37px;} 
.dataTables_wrapper .dataTables_paginate.dataTables_paginate { float: right;}


.navbar .dropdown-toggle {
	margin-bottom: 0!important;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a {
	margin-top: 12px;
}

body .page-container .sidebar-menu {
	background: #f2f2f2;
	color: #000;
}

.breadcrumb {
	border-bottom: 1px solid #ebebeb;
	clear: both;
}

.breadcrumb > li a.active {
	color: #000;
	font-weight: bold; 

}

#main-menu > li > a {font-weight: bold;}

.page-container.horizontal-menu.with-sidebar header.navbar ul.nav li.dropdown.open .dropdown-menu {
	margin-top: 16px;
}

#txt_propiedad {
	font-size: 2em;
	font-weight: bold; 
	color: #000; 
}

#txt_fecha {
	font-size: 1.2em;
	font-weight: bold; 
	color: #000; 
}

#txt_paises {
	font-size: 1.2em;
	font-weight: bold; 
}

.page-container.horizontal-menu header.navbar .navbar-brand {
	margin-right: 29px;
}

#fecha01 {
	color: #000;
}

#fecha02 {
	color: #94949a;
}


.panel.minimal > .panel-heading > .panel-title {
	position: relative;
	color: #373e4a;
	padding: 0;
	padding-bottom: 15px;
	font-weight: bold;
	top: 8px;
}

.panel-heading > .panel-title > span {
	font-weight: bold;
}

.panel-heading > .panel-title > span.posinfo {
	font-weight: normal;
}

.panel.minimal > .panel-heading {
	padding: 0;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px; 
}

@media (min-width: 765px) and (max-width: 1200px) {

	.page-container.horizontal-menu header.navbar .navbar-brand {margin-right: 5px;}
    .page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a{ font-size: 9px;}
	#menu{ padding-left: 0px; font-size: 11px;}
	.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a {margin-left: 0px;margin-bottom: 0px;}


}


#txt_vistaurl{ color: #373942;font-size: 18px;font-weight: bold; line-height: 16px;}
#btn_imprimir{ position: absolute;right: 25px;top: 25px; font-weight: bold;
background-color: #f2f2f2;
padding: 7px;
padding-left: 15px;
padding-right: 15px;}

/*fechas del breadcrumd*/
#fecha_prim{ color: #6cb5f4;}
.fechaactu_com{ color: gray;}
#fecha_sec{ color: #e88731;}

/*filtros del breadcrumb*/
.filtropart{ float: left; color: #454545; font-size: 15px;}
.caja_filtros{ display: block; overflow: auto;margin-top: 10px;}
.filtropart span{ margin-right: 65px; font-weight: bold;} 

/*Seguimiento de ruta*/
.contenedor_ruta{ display: block; width: 100%; overflow: auto;}
.contenedor_ruta ul{ list-style: none; overflow: auto; clear: both; padding-left: 0px;
					margin-top: 20px; border-radius: 10px;}
.contenedor_ruta ul li a{float: left; position: relative; height: 39px; color: #888a8f;
						background-color: #f2f2f2; padding-left: 25px; padding-right: 10px; font-weight: bold;}
.contenedor_ruta ul li a span{ padding-top: 11px; display: block; }
.contenedor_ruta ul li img{ position: absolute; right: -16px; top: 0px; z-index: 1; }
.contenedor_ruta ul li a.sel{ background-color: #6cb5f4; color: white; }
.contenedor_ruta ul li a.ult{ border-radius: 0 10px 10px 0;}
.contenedor_ruta ul li a:hover{ text-decoration: underline;}
.contenedor_ruta ul li a.sel:hover{ text-decoration: none;}


.page-body .selectboxit-container .selectboxit { height: 40px !important; padding: 4px !important;} 

.estrecho{ display: none !important;}
.estrechocorta{ display: none !important;}
.amplio{ display: block !important;}
@media (max-width: 1430px) {

	.estrecho{ display: block !important;}
	.amplio{ display: none !important;}

}