@charset "iso-8859-1";

	body{overflow-x: hidden; }
	#table_datatable_processing{ color: black; width: 100%; text-align: center; position: absolute;
	 background-color: rgba(255,255,255,0.7); height: 100%; padding-top: 6%; z-index: 4; }
	.dataTables_wrapper .dataTables_length { float: left;width: 15%;min-width: 210px;}
	.dataTables_wrapper .dataTables_info.dataTables_info, .dataTables_wrapper .dataTables_paginate.dataTables_info {
 	 	float: left; width: 25%; background-color: transparent; border: none; min-width: 350px;}
	.DTTT_container{ float: left !important; padding-top: 10px;}
	.dataTables_wrapper .dataTables_paginate.dataTables_paginate { float: right;}
	/*#x_axis_rickshaw_ampliacion{display: none;}*/
	/*#contenedor_rickshaw_ampliacion{ display: none;}*/
	#listado-vistas .lista{padding: 0px;}
	@media (max-width: 1500px) {
	  .page-container.horizontal-menu header.navbar ul.nav > li > span { padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
	  .page-container.horizontal-menu header.navbar ul.nav > li > a{ padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
	  .tile-stats h3 { font-size: 15px; }
	}
	@media (max-width: 770px) {
	  .page-container.horizontal-menu header.navbar ul.nav > li > span { padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
	  .page-container.horizontal-menu header.navbar ul.nav > li > a{ padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
	  .tile-stats h3 { font-size: 15px; }
	}
	.rickshaw_graph .detail .x_label { display: none }
	.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
	.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
	.rickshaw_graph .detail .date { color: #a0a0a0 }
	
	#contenedor_rickshaw_ampliacion {
		position: relative;
		font-family: Arial, Helvetica, sans-serif;
	}
	#rickshaw_ampliacion {
		position: relative;
		left: 40px;
	}
	#y_axis_rickshaw_ampliacion {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40px;
	}
	#x_axis_rickshaw_ampliacion {
		position: relative;
		left: 40px;
		height: 40px;
	}	
	.tile-stats{ position: relative;}
	.cajatarta{position: absolute; bottom: 10px; right: 15px; z-index: 5;}
	.cajatarta canvas{ width: 10%;}