/****************V"*********************/

a.DTTT_button {
padding: 0px !important;
border: 0px !important;
}

.form-inline .form-control {
	width: 70px;
	padding: 3px;
	height: 26px;
}

.imgdrip{ float: left; padding-top: 3px;}


.sorting{ 
		background-image: url("../images/ordenarimg.png");
			background-repeat: no-repeat;
			background-position: right;
	}



body{overflow-x: hidden; }

/*#x_axis_rickshaw_ampliacion{display: none;}*/
/*#contenedor_rickshaw_ampliacion{ display: none;}*/
#listado-vistas .lista{padding: 0px;}
@media (max-width: 1500px) {
  .page-container.horizontal-menu header.navbar ul.nav > li > span { padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
  .page-container.horizontal-menu header.navbar ul.nav > li > a{ padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
  .tile-stats h3 { font-size: 15px; }
}
@media (max-width: 770px) {
  .page-container.horizontal-menu header.navbar ul.nav > li > span { padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
  .page-container.horizontal-menu header.navbar ul.nav > li > a{ padding: 0px; float: none; padding-top:8px; padding-bottom: 0px; padding-right: 13px; }
  .tile-stats h3 { font-size: 15px; }
}
.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #a0a0a0 }

#contenedor_rickshaw_ampliacion {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	width: 95%;
}

#rickshaw_ampliacion {
	position: relative;
	left: 40px;
}

#y_axis_rickshaw_ampliacion {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
}

#x_axis_rickshaw_ampliacion {
	position: relative;
	left: 40px;
	height: 40px;
}

#usercaja { 
	position: relative;
}

#canvas-holder {
	position: absolute; 
	bottom: 10px; 
	right: 15px; 
	z-index: 5;
}

#canvas-holder canvas { 
	width: 10%;
}	

table.table tbody tr td {
	text-align: right; 
}

table.table tbody tr td:first-child {
	text-align: left; 
}

table.table tfoot tr th {
	text-align: right; 
}


table.table tfoot tr th:first-child {
	text-align: left; 
}

.tile-stats p {
	position: absolute;
	right: 10px;
	top: 10px; 
}

.rojo {
	background: #e74c3c;
	border-radius: 3px;
	padding: 3px 6px;
	color: #fff;
}

.verde {
	background: #2ecc71;
	border-radius: 3px;
	padding: 3px 6px;
	color: #fff;
}

.gris {
	background: #d6dde2;
	border-radius: 3px;
	padding: 3px 6px;
	color: #fff;
}

.tile-stats .icon i {
	font-size: 60px;
}

.comparador i {
	font-size: 16px;
}

/*.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	background-color: #3fabe2;
	border-bottom-width: 1px;
	color: #fff;
}*/

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	background-color: #6CB5F4;
	border-bottom-width: 1px;
	color: #fff;
}

.table-bordered > tfoot > tr > th {
	background-color: #e5e5e5;
	border-top-width: 1px;
	color: #333;
	border-color: #fff;
}

.table-bordered > tfoot > tr > th:first-child {
	background-color: #e5e5e5;
	border-top-width: 1px;
	color: #333;
	border-left: 1px solid #ebebeb;
}

.table-bordered > tfoot > tr > th:last-child {
	background-color: #e5e5e5;
	border-top-width: 1px;
	color: #333;
	border-right: 1px solid #ebebeb;
}

.table-bordered > tfoot > tr > td {
	background-color: #fff;
	border-top-width: 1px;
	color: #333;
	/*border-color: #fff;*/
}

table .even {
	background: #f5f5f5;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #ffffff;
	background-color: #3fabe2;
	border-color: #3fabe2;
	cursor: default;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
	padding: 10px 12px;
	border: 1px solid #fff;
	border-top: 0;
	background: #fff;
	height: 47px;
}

.dataTables_wrapper thead tr:first-child  th:first-child {
	font-size: 1.35em;
}

.dataTables_wrapper tr td:first-child {
	color: #000;
}

table .rickshaw_graph {
	cursor: pointer;
}

table .rickshaw_graph svg {
}

.zoomLupa {
	position: absolute;
	right:0;
	top: 0;
}

.pagination-sm > li > a, .pagination-sm > li > span {
	padding: 5px 10px;
	font-size: 11px;
	height: 27px;
}

.table-bordered tr td { color: black;}

.porcDT{ color: gray; font-size: 10px;}

.col-sm-3 {
    width: 25%;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.row {
    margin-left: -10px ;
    margin-right: -15px ;
}