@charset "iso-8859-1";

/*Estilos añadidos*/
.msg_newpass{ display: none; font-weight: bold; }
.form-login-success{background: none repeat scroll 0% 0% green;border-radius: 3px;margin-bottom: 30px;
		overflow: hidden; padding: 0px; box-sizing: border-box; display: none;}
.form-login-success p{ color: white;}
.form-login-success h3{ background: none repeat scroll 0% 0% padding-box rgba(7, 98, 18, 1); padding: 10px;
		margin: 0px 0px 5px;font-size: 12px;border-radius: 3px 3px 0px 0px; color: white;}
.checkbox{text-align: left; width: 120px; float: right; margin-top: -10px; margin-bottom: 20px !important;}
.form-group{ clear: both;}
#btn_recorpass {cursor: pointer;}

/*Estilos añadidos*/


/*LOGIN PAGE */

.login-page {
	background: #fff;
}

.login-page .login-header {
	background: #f5f5f5;
}

.login-page .login-header.login-caret:after {
	border-color: #f5f5f5 transparent transparent transparent;
}

.login-page .login-form .form-group .input-group {
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
}

.login-page .login-form .form-group .btn-login {
	border: 1px solid #f5f5f5;
	background: #fff;
	color: #949494;
}

.login-page .login-form .form-group .btn-login:hover, .login-page .login-form .form-group .btn-login:active {
	background: #f5f5f5;
}

.login-page .login-form .form-group .input-group .form-control {
	color: #949494;
}

.login-page .login-bottom-links .link {
	font-size: 14px;
	display: inline-block;
	margin-bottom: 10px;
	color: #949494;
	-moz-transition: all 550ms ease-in-out;
	-o-transition: all 550ms ease-in-out;
	-webkit-transition: all 550ms ease-in-out;
	transition: all 550ms ease-in-out;
}
.login-header.login-caret .langs{
	position: absolute;
	font-weight: bold; 
	right: 0px; 
	margin: 1rem; 
	top: 0px;
}

.login-header.login-caret .langs a.lang-selected {
	font-weight: normal;
}