@charset "iso-8859-1";

/*Estilos añadidos*/

.menu_arriba a{ position: relative;}
.beta{color: #dd8200;position: absolute;bottom: 8px;
left: 20px;
font-style: italic;
font-size: 9px;}
.poscamb{margin-bottom: 0px !important; margin-top: 10px !important;}
#cerrar-sesion{ cursor: pointer;}
#listado-vistas{ }
#listado-vistas .lista{ float: right;}
#menu{ list-style: none; overflow: auto; margin-top: 19px;margin-bottom: 0px; padding-left: 0px;}
#menu li{}
#menu li a span{ padding-top: 4px;line-height: 4px;}
#menu li a{ display: block; padding: 14px 20px; float: left; font-weight: bold; cursor: pointer;}
#menu li a.activo{ color: #3fabe2; border-bottom: 2px solid #3fabe2}
#menu li a:hover{ color: #3fabe2; border-bottom: 2px solid #3fabe2}
.page-container.horizontal-menu header.navbar .navbar-brand {  width: 280px; margin-right: 0px !important;}
.contenedor_menu{ width: 510px;float: left;}
.contenedor_vistas{ float: right; position: relative;}
.contenedor_historial {
				    float: right;
				    display: block;
				    font-size: 18px;
				    padding-right: 10px;
				    margin-top: 40px;
				    cursor: pointer;
				    padding-left: 10px;
				    padding-top: 0px;
				    margin-right: 5px;
				}
.contenedor_historial:hover{ background-color: #ececec;}
.contenedor_seleccionado{ float: left; margin-top: 6px}
.contenedor_desplegar{  float: left;}
/*.contenedor_seleccionado:hover{background-color: #E0DEDE; color: white}*/
.contenedor_desplegar:hover{ background-color: #E0DEDE; color: white}
.contenedor_seleccionado p{margin-bottom: 0px; margin-top: 3px; display: block; overflow: auto; 
	text-align: right;line-height: 15px;}
.contenedor_seleccionado p span{ display: block;}
.contenedor_desplegar{padding: 15px;padding-top: 23px;cursor: pointer;border: 1px solid #E3E3E3; margin-left: 7px;}
.contenedor_listadovistas{ display: none; width: 350px; max-height: 400px; background-color: #F8F8F8;  
			position: absolute; top: 67px; right:0px; border: 1px solid rgba(0, 0, 0, 0.09);}
.maskara_out{ display: none; position: fixed;width: 100%; height: 100%; top: 0px; bottom: 0px;}
.parteperfil{ display: block;overflow: hidden;background-color:rgba(231, 231, 231, 0.58); padding: 5px;  }
.parteperfilb{ display: block;overflow: hidden;background-color:rgba(231, 231, 231, 0.27); padding: 10px;  }
.parteperfilb p{ margin-bottom: 0px;} 
.btnperfila{ float: left;}
.btnperfilb{ float: right;}
#txt_buscavistas{height: 35px;font-size: 14px;padding: 10px;}

.parte_listado{ padding: 5px;margin-top: 10px;}
.listadovistas ul{ padding-left: 0px; list-style: none; }
.listadovistas{padding-top: 20px; height: 253px; overflow: auto;}
.npropiedad_txt{cursor: context-menu;
			color: #8C8C8C;
			font-weight: bold;
			font-size: 13px;
			border: 1px solid #EFEFEF;
			padding: 7px;
		margin: 0px;}
.npropiedad_txt:hover{ background-color: #ececec;}
.npropiedad li ul{ display: block}
.npropiedad li ul li a{ display: block;margin-left: 20px; font-size: 13px; 
	cursor: pointer;padding: 4px;}
.npropiedad{ margin: 0px;}
#usermen{color: #208EB9 !important;}

@media (min-width: 765px) and (max-width: 1200px) {

	.page-container.horizontal-menu header.navbar .navbar-brand { width: 180px;}

}
.subrayado{ text-decoration: underline;}
.avisoperfil{color: #D18727;    
			position: absolute;
		    left: 2px;
		    top: 37px;
}
.ulcamp{ margin-top: 0px !important;}
.nombrecampana{margin-bottom: 0px;
margin-top: 10px;
padding: 2px;
font-size: 14px;
display: block;
width: 807px;
margin-left: 17px;
background-color: #E3E3E3;
color: rgb(6, 6, 6);
border-radius: 13px 13px 0px 0px;
padding-left: 13px;}

.icoappp{ font-size: 18px;width: 15px;
text-align: center; margin-right: 3px;}
.icoappptit{font-size: 25px;
width: 20px;
text-align: center;
}


.color_rickshaw_legenda_act{
	background-color: #6CB5F4;
	width: 20px;
	height: 7px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-left: 35px;
	margin-top: 5px;
}

.color_rickshaw_legenda_ant{
	background-color: #E88731;
	width: 20px;
	height: 7px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-left: 35px;
	margin-top: 5px;
}

.expl_legenda{

}

/*Estilos añadidos*/







.dataTables_wrapper {
	position: relative; 
}

.dataTables_processing{ 
	color: black; 
	width: 100%; 
	text-align: center; 
	position: absolute; 
	background-color: rgba(255,255,255,0.7); 
	height: 100%; 
	padding-top: 0%; 
	z-index: 4; 
}

 .dataTables_processing:before {
	content:'';
	width: 100%;
	height: 45%;
	display: block; 
}

 .dataTables_processing:after {
	content:url('../assets/images/loader-3.gif');
	width: 16px;
	height: 16px;
	display: block; 
	margin: -45px auto 0 auto; 
}

.dataTables_wrapper .dataTables_length { float: left;width: 15%;min-width: 136px; border: none; }
.dataTables_wrapper .dataTables_info.dataTables_info, .dataTables_wrapper .dataTables_paginate.dataTables_info {
	float: left; width: 15%; background-color: transparent; border: none; min-width: 190px;}
.DTTT_container{ float: right !important; padding-top: 10px; } 
.dataTables_wrapper .dataTables_paginate.dataTables_paginate { float: right;}


.navbar .dropdown-toggle {
	margin-bottom: 0!important;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a {
	margin-top: 12px;
}

body .page-container .sidebar-menu {
	background: #f2f2f2;
	color: #000;
}

.breadcrumb {
	border-bottom: 1px solid #ebebeb;
	clear: both;
}

.breadcrumb > li a.active {
	color: #000;
	font-weight: bold; 

}

#main-menu > li > a {font-weight: bold;}

.page-container.horizontal-menu.with-sidebar header.navbar ul.nav li.dropdown.open .dropdown-menu {
	margin-top: 16px;
}

#txt_propiedad {
	font-size: 2em;
	font-weight: bold; 
	color: #000; 
}

#txt_fecha {
	font-size: 1.2em;
	font-weight: bold; 
	color: #000; 
}

#txt_paises {
	font-size: 1.2em;
	font-weight: bold; 
}

.page-container.horizontal-menu header.navbar .navbar-brand {
	margin-right: 29px;
}

#fecha01 {
	color: #000;
}

#fecha02 {
	color: #94949a;
}


.panel.minimal > .panel-heading > .panel-title {
	position: relative;
	color: #373e4a;
	padding: 0;
	padding-bottom: 15px;
	font-weight: bold;
	top: 8px;
}

.panel-heading > .panel-title > span {
	font-weight: bold;
}

.panel-heading > .panel-title > span.posinfo {
	font-weight: normal;
}

.panel.minimal > .panel-heading {
	padding: 0;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px; 
}

@media (min-width: 765px) and (max-width: 1200px) {

	.page-container.horizontal-menu header.navbar .navbar-brand {margin-right: 5px;}
    .page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a{ font-size: 9px;}
	#menu{ padding-left: 0px; font-size: 11px;}
	.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a {margin-left: 0px;margin-bottom: 0px;}


}


#txt_vistaurl{ color: #373942;font-size: 18px;font-weight: bold; line-height: 16px;}
#btn_imprimir{ position: absolute;right: 25px;top: 25px; font-weight: bold;
background-color: #f2f2f2;
padding: 7px;
padding-left: 15px;
padding-right: 15px;}

/*fechas del breadcrumd*/
#fecha_prim{ color: #6cb5f4;}
.fechaactu_com{ color: gray;}
#fecha_sec{ color: #e88731;}

/*filtros del breadcrumb*/
.filtropart{ float: left; color: #454545; font-size: 15px;}
.caja_filtros{ display: block; overflow: auto;margin-top: 10px;}
.filtropart span{ margin-right: 65px; font-weight: bold;} 

/*Seguimiento de ruta*/
.contenedor_ruta{ display: block; width: 100%; overflow: auto;}
.contenedor_ruta ul{ list-style: none; overflow: auto; clear: both; padding-left: 0px;
					margin-top: 20px; border-radius: 10px;}
.contenedor_ruta ul li a{float: left; position: relative; height: 39px; color: #888a8f;
						background-color: #f2f2f2; padding-left: 25px; padding-right: 10px; font-weight: bold;}
.contenedor_ruta ul li a span{ padding-top: 11px; display: block; }
.contenedor_ruta ul li img{ position: absolute; right: -16px; top: 0px; z-index: 1; }
.contenedor_ruta ul li a.sel{ background-color: #6cb5f4; color: white; }
.contenedor_ruta ul li a.ult{ border-radius: 0 10px 10px 0;}
.contenedor_ruta ul li a:hover{ text-decoration: underline;}
.contenedor_ruta ul li a.sel:hover{ text-decoration: none;}


.page-body .selectboxit-container .selectboxit { height: 40px !important; padding: 4px !important;} 

.estrecho{ display: none !important;}
.estrechocorta{ display: none !important;}
.amplio{ display: block !important;}
@media (max-width: 1430px) {

	.estrecho{ display: block !important;}
	.amplio{ display: none !important;}

}


/*estilos de subcampañas*/
.subcamapana { background:#f9f9f9; padding:5px; margin:0; border-radius:5px; }
.subcamapana p.nombrecampana {background:none; margin:0; padding:5px; border-radius:0; width:auto; font-style:italic; color:#555;}
.subcamapana ul.ulcamp {border-radius:5px;}
.subcamapana ul.ulcamp li a {padding:3px; height:auto;}
.subcamapana ul.ulcamp li a span {padding:3px 0px 3px 18px; display:inline-block; font-size:0.9em;}
.subcamapana ul.ulcamp li:first-child a span {padding-left:5px!important; }
.subcamapana ul.ulcamp li:last-child a span {padding-right:10px!important;}
.subcamapana ul.ulcamp li a.sel {background:#98cbf7;}
.subcamapana ul.ulcamp li a.sel img {opacity:0.6}
.subcamapana ul.ulcamp li a img {top:-6px;}


.icoantispam_green{ color: #159253}
.icoantispam_gris{ color: gray;}