*{ margin:0px; padding:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */}

.sorting{ position: relative;}
.ordenacion{ position: absolute; width: 12px; height: 12px; right: 0px; 
			top: 50%; margin-top: -6.5px; 
			background-image: url("../images/ordenarimg.png");
			background-repeat: no-repeat;
			right: 5px;}
/*#contenedor_resumen{ width: 860px; margin: auto; padding: 30px; background-color: white;}*/
#contenedor_resumen{ width: 800px; margin: auto; padding: 0px; background-color: white;}
.row {margin-left: 0px !important;  margin-right: 0px !important;}
.col-sm-12, .col-sm-10, .col-sm-8, .col-sm-6, .col-sm-4, .col-sm-2{ padding: 5px;}
.emailtit{text-align: center; margin-top: 30px; margin-bottom: 30px;}
#contenedor_resumen h2{ margin-bottom: 15px; font-size: 30px;margin-left: 5px; margin-right: 5px; color: #00ade5;}
br{ clear: both;}
.col-sm-12{ overflow: hidden;}
.destacado{ background-color: #c5e5f6; min-height: 33px;}
.table_datatable_idioma tr td{ padding: 0px !important; }
.table_datatable_idioma tr td div{ padding: 8px !important; }
.cabimg{ padding: 0px !important;}
.nprop{ color: #3FABE2;}
.compdate{ color: gray;}
.row{ margin-top: 25px;}
body{ /*background-color: gray*/}
.nvist{ color: #3c3c3c;}
.cabecera_resumen{ overflow: auto; display: block; padding: 5px;}
.pinfo{ display: block; float: left; width: 70%;}
.pdispo{ display: block; float: left; width: 23%; margin-left: 7%; margin-top: 65px;}
.dispo{ width: 33.333%; display: block; float: left;}
.dispo p{ width: 100%; text-align: center; margin-bottom: 3px; }
.dispo img{ margin: auto; display: block;}
.ndimension{color: white; font-size: 12px;}
.dataTables_wrapper thead tr:first-child th:first-child {
	 color: white; font-size: 12px !important;
	}
.dataTables_wrapper table thead tr th.sorting_asc:before, .dataTables_wrapper table thead tr th.sorting_desc:before {
    display: block;
    float: right;
    color: #303641;
    font-family: "Entypo";
    content: none;
}
.tableta{padding-left: 8px;}
.imgdrip{ float: left; padding-top: 3px;}
.contdatatable{ display: block; width: 100%; height: 270px; }
.legend{ display: block; margin: -5px auto auto -43px;}
.titchart{ color: gray; font-size: 16px; text-align: center;position: absolute;left: 50%;z-index: 2;margin-left: -25px; top: -8px; margin-top: -20px;}
.titchartb{ margin-left: -15px; margin-top: -20px; }
.cajadiv_dispo_imgs{margin-left: -8px; }
.cajadiv_dispo_imgsb{margin-left: 5px; }
.charfullpos{margin-top: -40px;margin-left: 10px;}
.legendb {  display: block;  margin: auto; margin-top: -40px; position: absolute; left: 50px;}
#pais_div{padding-bottom: 10px;}
.tile-stats{padding: 5px !important;}
.restit{ color: white !important; font-weight: bold; margin-top: 0px !important; font-size: 12px !important; margin-bottom: 4px !important; text-align: center !important;}
.datatableres{ margin-bottom: 2px; border:none;}
.datatableres th{ padding: 3px !important; font-size: 11px !important; color: white; text-align: center;} 
.datatableres td{ padding: 1px !important; font-size: 12px !important; text-align: right !important; border:none !important; color: white !important;}
.datatableres td:first-child{ text-align: left !important; font-size: 9px !important;}
.dataTables_wrapper .datatableres thead tr:first-child th:first-child { font-size: 9px !important; }
.negro{ color: black;}
#curve_chart{ width: 100%;}
.indexdesc{ text-align: center; font-size: 15px; }
.indexval{ text-align: center; font-size: 40px;  font-weight: bold; line-height: 50px; margin-left: 35px; margin-right: 10px;}
.res_titindex{ font-size: 24px;  font-weight: bold; display: block;text-align: center;}
.res_descindex{ font-size: 12px; font-weight: bold; display: block;text-align: center;}
.col-sm-3{ padding-right: 5px !important; padding-left: 5px !important;}
.descimg{ font-size: 10px; font-weight: bold;}
body { color: black !important;}
.porcentagest{ color: gray; font-size: 10px;}
.letradt{ text-align: left; margin: 0px;}
.centrar_dch{ display: block; text-align: right;}
.centrar_izq{ display: block; text-align: left;}
.centrar_izqi{ text-align: left !important;}
#txt_url{ font-size: 16px; font-weight: bold;line-height: 0px;margin-bottom: 20px; color: #787272 !important}
.explindex{ color: black; margin-top: 19px; text-align: center; font-size: 15px;}
.sinmarg{ padding: 0px !important;}
.diasemcl{ color: gray; font-size: 10px; font-style: italic;}
.errorcontainer{ padding: 20px !important;}
.contgraficos_trafico{ display: block; overflow: auto; position: relative; overflow: hidden;}
/*#legend_trafico{ position: absolute; top: 65px; left: 50%; margin-left: -42px;z-index: 9;}*/
#legend_trafico{ bottom: 0px; position: absolute; margin-left: 25px; margin-bottom: -3px; width: 85%;}
#trafico_sem_cont{margin-left: -5px;}
.maxpos{margin-left: 40px;}
.cajacontline{ display: block; overflow: hidden; position: relative; clear: both;}
.fechas_index{ position: absolute; bottom: 50px; left: 55px; }
.ftm{margin-right: 120px;}
#libre_caja{ background-color: transparent !important; border-top: 1px solid #FFF !important; border-left: 1px solid #FFF !important;}
.centrartexto{text-align: center !important;}
.fecha3{ margin-right: 0px !important}
.edsub{ text-decoration: underline;}
.descimgb{ font-size: 15px; float: left; padding-top: 10px;}
.filaop{float: right; clear: both; display: block;}
.filaop img{ width: 50px; float: left;}

/*V2*/
.content_fila{display: block; clear: both;overflow: hidden; margin-bottom: 15px;}
.col_explicacion{display: block; width: 24%; float: left; margin: 5px;background-color: #E9E9E9;
		border-radius: 7px;padding: 10px;}
.col_datos{ display: block; width: 73%; float: left; margin: 5px; margin-top: 0px;}

.text_res{ font-size: 11px}
.expl_tit{ font-weight: bold;}
.expl_desc{ }
.col-sm-7 {padding: 0px; padding-top: 5px;}
.col-sm-5 {padding: 0px; padding-top: 5px;}
.titres{font-weight: bold; font-size: 27px; color: black;}
.subtitres{margin-top: 0px;color: #363942;font-weight: bold;font-size: 18px;}
.azulado{ color: #00ade5;}
.naranja{ color: #fc810a;}
#txt_fecha{ font-size: 13px !important; margin-top: 17px;}

.datatableres{ width: 100%;}
.caja_conversiones{ background-color: #00a899; height: 140px;}
.caja_conversiones thead{ background-color: #008779; }
.table > thead > tr > th {
    border-bottom: 0px solid #EBEBEB !important;
}
.caja_trafico{ background-color: #7b5e8a;}
.caja_trafico thead{ background-color: #604a6e; }

.caja_usuarios{ background-color: #0091dc;}
.caja_usuarios thead{ background-color: #0174b3; }

.caja_indexacion{ background-color: #ff6867; color: white;}
.tile-stats{ height: 140px;}
.datadetall td{ padding-top: 10px !important; }
.spanadet{ display: block; margin-top: 30px;}
.tamico{font-size: 15px !important; margin-left: 5px;margin-right: 5px;}
.tamicob{font-size: 25px !important; margin-left: 5px;margin-right: 5px; color: #ff6c58}
.tamicoc{font-size: 25px !important; margin-left: 5px;margin-right: 5px; color: #3fcc8a}
#rxr_filtros{color: #5D5D5D;font-weight: bold;}
.expl_traf{ display: block; width: 100%; overflow: auto;margin-left: 10px;}
.expl_traf span{ display: block; width: 50%; float: left; text-align: center;}
.expl_traf span.ant{ color: #fa7e0e}
.expl_traf span.act{ color: #29b7f7}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}