/* ============ TIMELINER.JS ============= */

.sidebar-menu{ padding: 5px;}


.timeline-container {
  border-left: 2px solid #ccc;
  margin: 20px auto;
  width: 100%;
}
.timeline-toggle {
  background: #000;
  border-color: #161616;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-right: 0;
  padding: 3px 5px;
  white-space: nowrap;
}
.timeline-wrapper {
  clear: left;
  float: left;
  margin: 0 0 12px;
  width: 100%;
}
.timeline-wrapper h2 {
  background: url(../images/timeline_century_tick.gif) left center no-repeat;
  font-family: Palatino, "Times New Roman", Times, serif;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 4px 4px 4px 20px;
}
.timeline-wrapper h2 span {
  background: #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #131313;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  padding: 3px 5px 1px;
}
.timeline-series {
  clear: left;
  float: left;
  margin: 0 12px 0 0;
  padding: 4px 4px 4px 0;
  position: relative;
  width: 100%;
}
.timeline-series dt {
  background: url(../images/timeline_decade_tick.gif) left center no-repeat;
  clear: left;
  font-size: 12px;
  list-style-type: none;
  line-height: 1.1em;
  margin: 0 0 12px;
  padding: 0 0 0 24px;
  white-space: nowrap;
}
.timeline-series dt a {
  color: #999;
  cursor: pointer;
}
.timeline-series dt a .closed {
  color: #999;
  font-size: 1em;
  margin-left: 0;
}
.timeline-series dt a .open {
  color: #7DBADF;
}
.timeline-series dt a:hover {
  color: #7DBADF;
}
.timeline-series dd {
  padding-left: 24px;
  width: 100%;
}
.timeline-series dd h3 {
  color: #FFF;
  clear: both;
  float: left;
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
}
.timeline-event-content {
  display: none;
}
.timeline-event-content p {
  clear: left;
  float: left;
  line-height: 1.5em;
  margin: 6px 0 10px;
  width: 100%;
}
.timeline-event-content h4 {
  clear: left;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}
.timeline-event-content blockquote {
  border-left: 2px solid #ccc;
  clear: left;
  float: left;
  font-size: 1.8em;
  margin-left: 0;
  padding: 0 30px;
  width: 100%
}
.timeline-event-content blockquote .attribution {
  font-size: 0.7em;
  text-align: right;
}
.timeline-event-content .media {
  float: right;
  padding: 0 0 12px;
  width: 300px;
}
.timeline-event-content .media img {
  border: 2px solid #000;
  margin: 0;
}
.timeline-event-content .media p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.timeline-event-content .media a:link,
.timeline-event-content .media a:visited {
  color: #ab221b;
}
.timeline-event-content .media a:hover {
  color: #7DBADF;
}
